<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<servlet>
	<servlet-name>calcServlet</servlet-name>
	<servlet-class>com.Abc</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>calcServlet</servlet-name>
	<url-pattern>/calc</url-pattern>
</servlet-mapping>
  
<filter>
	<filter-name>Filter01</filter-name>
	<filter-class>com.filter.AuthenFilter</filter-class>
</filter>
<filter-mapping>
	<filter-name>Filter01</filter-name>
	<url-pattern>/filter/filter01_process.jsp</url-pattern>
</filter-mapping>


<filter>
	<filter-name>Filter02</filter-name>
	<filter-class>com.filter.InitParamFilter</filter-class>
	<init-param>
		<param-name>param1</param-name>
		<param-value>admin</param-value>
	</init-param>
	<init-param>
		<param-name>param2</param-name>
		<param-value>1234</param-value>
	</init-param>
</filter>
<filter-mapping>
	<filter-name>Filter02</filter-name>
	<url-pattern>/filter/filter02_process.jsp</url-pattern>
</filter-mapping>

<filter>
	<filter-name>Filter02_2</filter-name>
	<filter-class>com.filter.LogFileFilter</filter-class>
	<init-param>
		<param-name>filename</param-name>
		<param-value>c:\\log\\monitor.log</param-value>
	</init-param>
</filter>
<filter-mapping>
	<filter-name>Filter02_2</filter-name>
	<url-pattern>/filter/filter02_process.jsp</url-pattern>
</filter-mapping>
</web-app>